<% @you_and_friends_posts.each_with_index do |p,index| %>
  <div class="card col-xl-12 col-lg-12 col-md-12">
    <div class="card-header"> <strong><%= p.author.name%> </strong>, <%= p.created_at%>  </div>
    <div class="card-body">
      <p>
        <%= p.post_text%>
      </p>
      <hr>
      <span>
        Likes : <%= p.like_total %>
      </span>
    </div>
    <div class="card-footer">
      <%= link_to controller: 'posts', action: 'add_post_like', post_id: p.id, user_id: p.author_id  do %>
        <button type="button" class="btn btn-light">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
        </button>
      <% end %>
      <button
              type="button"
              class="btn btn-light"
              data-toggle="collapse"
              data-target="#collapse<%= index %>"
              aria-expanded="false"
              aria-controls="collapse<%= index %>"
            >
        <i class="fa fa-comments" aria-hidden="true"></i>
        Comments
      </button>
      <div class="collapse" id="collapse<%= index %>">
        <div class="card card-body">
          <div class="comment-row row">
            <div class="col-xl-2 d-flex justify-content-center">
              <div class="user-circle-sm"></div>
            </div>
            <div class="col-xl-10">
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt
                sapiente ea proident.</p>
              <button type="button" class="btn btn-light">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
              </button>
              <button
                            type="button"
                            class="btn btn-light"
                          >
                <i class="fa fa-comments" aria-hidden="true"></i>
                Comments
              </button>
            </div>
          </div>
          <hr>
          <div class="comment-row row">
            <div class="col-xl-2 d-flex justify-content-center">
              <div class="user-circle-sm"></div>
            </div>
            <div class="col-xl-10">
              <form action="">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Your comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
